<div id='{{id}}' class="panel filter-panel  panel-zindex">
    <div class="filter-panel-heading">
        <label class="panel-title theme-color">Filters</label>
        <button type="button" class="close" style="opacity:1.2;">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only"><g:message code="default.button.close.label"/></span>
        </button>
    </div>

    <div class="panel-body panel-zindex">{{{filter_body}}}</div>
    <div class="row" style=" padding-right: 25px; padding-bottom:5px;">
        <button class="btn btn-default pull-right clear-button" style="margin-right: 10px;">{{{clear}}}</button>
        <button class="btn btn-primary pull-right apply-button" style="margin-right: 10px;">{{{apply}}}</button>
    </div>
</div>