table.dataTable thead th[data-is-resizable=true] {
    border-left: 1px solid transparent;
    border-right: 1px dashed #bfbfbf;
}

table.dataTable thead th.dt-colresizable-hover {
    cursor: col-resize;
    background-color: #eaeaea;
}

table.dataTable thead th.dt-colresizable-hover .edt-header-item-controls-container,
table.dataTable thead th.dt-colresizable-hover .edt-inline-search-box {
    cursor: default !important;
}

table.dataTable thead th.dt-colresizable-bound-min,
table.dataTable thead th.dt-colresizable-bound-max {
    opacity: 0.2;
    cursor: not-allowed !important;
}